{% comment %}
    This include creates a modal pop up with data export options.
    The logic of which formats appear is based on config-nav stubs:
    if subject.html, map.html, location.html, or timeline.html are present, 
    corresponding data formats will be available for download.
{%- endcomment -%}

{%- assign stubs = site.data.config-nav | map: 'stub' | join: ';' -%}
<button type="button" class="btn btn-primary btn-lg float-md-end" data-bs-toggle="modal" data-bs-target="#dataModal">Descargar Datos</button>
<!-- Modal -->
<div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="dataModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="dataModalLabel">Datos de la colección</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <p>Descargue los datos de esta colección en diversos formatos reutilizables.</p>
                
                {% if site.data.theme.metadata-export-fields %}
                <div class="card my-3">
                    <div class="card-body">
                        <h2 class="card-title h4">Metadatos completos</h2>
                            <p class="card-text">Todos los campos de metadatos de todos los elementos de la colección, disponibles en formato CSV (utilizable en Excel, Google Sheets y programas similares) o JSON (frecuentemente utilizado con aplicaciones web).</p>
                        <a href="{{ '/assets/data/metadata.csv' | relative_url }}" class="btn btn-outline-dark" download>Metadatos CSV</a>
                        <a href="{{ '/assets/data/metadata.json' | relative_url }}" class="btn btn-outline-dark" target="_blank">Metadatos JSON</a>
                    </div>
                </div>
                {%- endif -%}
                {% if site.data.theme.metadata-facets-fields %}
                <div class="card my-3">
                    <div class="card-body">
                        <h2 class="card-title h4">Facetas de metadatos</h2>
                        <p class="card-text">Lista de valores únicos y su recuento para campos de metadatos específicos, útil para comprender el contenido de los campos.</p>
                        <a href="{{ '/assets/data/facets.json' | relative_url }}" class="btn btn-outline-dark" target="_blank">Facetas JSON</a>
                    </div>
                </div>
                {%- endif -%}
                {% if stubs contains "subject" %}
                <div class="card my-3">
                    <div class="card-body">
                        <h2 class="card-title h4">Metadatos del tema</h2>
                        <p class="card-text">Valores únicos y recuentos de metadatos temáticos, útiles para analizar más a fondo el contenido de esta colección.</p>
                        <a href="{{ '/assets/data/subjects.csv' | relative_url }}" class="btn btn-outline-dark" download>Temas CSV</a>
                        <a href="{{ '/assets/data/subjects.json' | relative_url }}" class="btn btn-outline-dark" target="_blank">Temas JSON</a>
                    </div>
                </div>
                {% endif %}
                {% if stubs contains "location" %}
                <div class="card my-3">
                    <div class="card-body">
                        <h2 class="card-title h4">Ubicaciones</h2>
                        <p class="card-text">Valores únicos y recuentos de metadatos de ubicación, útiles para una mayor visualización y análisis de los nombres de lugares de esta colección..</p>
                        <a href="{{ '/assets/data/locations.csv' | relative_url }}" class="btn btn-outline-dark" download>Ubicaciones CSV</a>
                        <a href="{{ '/assets/data/locations.json' | relative_url }}" class="btn btn-outline-dark" target="_blank">Ubicaciones JSON</a>
                    </div>
                </div>
                {%- endif -%}
                {% if stubs contains "map" %}
                <div class="card my-3">
                    <div class="card-body">
                        <h2 class="card-title h4">GeoJSON</h2>
                        <p class="card-text">Metadatos para todos los elementos de la colección que tienen coordenadas geográficas en <a href="https://en.wikipedia.org/wiki/GeoJSON">GeoJSON</a> format, useful for further exploration and analysis of this collection through a geographical lense.</p>
                        <a href="{{ '/assets/data/geodata.json' | relative_url }}" class="btn btn-outline-dark" target="_blank">Geodatos JSON</a>
                    </div>
                </div>
                {%- endif -%}
                {% if stubs contains "timeline" %}
                <div class="card my-3">
                    <div class="card-body">
                        <h2 class="card-title h4">Timeline</h2>
                        <p class="card-text">Una exportación de datos JSON centrada en el tiempo diseñada para su uso con <a href="https://timeline.knightlab.com/">Linea de tiempo JS</a>.</p>
                        <a href="{{ '/assets/data/timelinejs.json' | relative_url }}" class="btn btn-outline-dark" target="_blank">Línea de tiempo JSON</a>
                    </div>
                </div>
                {%- endif -%}
                <div class="card my-3">
                    <div class="card-body">
                        <h2 class="card-title h4">Código fuente del sitio web</h2>
                        <p class="card-text">Repositorio de GitHub que contiene el código fuente de este proyecto creado con <a href="https://github.com/CollectionBuilder/collectionbuilder-gh">CollectionBuilder-GH</a>.</p>
                        <a href="{{ site.source-code | default: 'https://github.com/CollectionBuilder/collectionbuilder-gh' }}" class="btn btn-outline-dark">Código fuente</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
